@tailwind base;
@tailwind components;
@tailwind utilities;

.my-label {
    position: absolute;
    font-size:20px;
}

.leaflet-popup-tip {
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
}